{% extends "intra/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %} {% endblock %}

{% block coltype %} {% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <!-- Contend Here -->
    <div class="row">
	    <div class="col-lg-12">
	        <h2 class="page-header">Usuarios</h2>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-10">
	        <div class="form-group input-group">
	            <input id="searchbox" type="text" class="form-control" placeholder="Buscar Usuarios...">
	            <span class="input-group-btn">
	                <button id="searchbutton" class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
	            </span>
	        </div>
	    </div>
	    <div class="col-md-2">
	        <button class="btn btn-primary btn-block btn-outline" data-toggle="modal" data-target="#addUserModal"><i class="fa fa-plus"></i> Agregar Usuario</button>
	    </div>
	</div>
	<div class="row">
	    <table class="table table-hover table-striped table-bordered">
	        <thead>
	            <tr>
	                <th>id</th>
	                <th>Nombre</th>
	                <th>Apellido</th>
	                <th>Email</th>
	                <th>Función</th>
	                <th>Operaciones</th>
	            </tr>
	        </thead>
	        <tbody id="user-table-body"></tbody>
	    </table>
	</div>

	<div id="addUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="saleModal" aria-hidden="true">
	  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Agregar Usuario</h4>
        </div>
		    <form action="#" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
	        <div class="modal-body">
						<div class="form-group">
						    <label for="add_product_id">Nombre</label>
						    <input type="text" class="form-control" id="add_user_first_name" name="add_user_first_name" placeholder="Nombre">
						</div>
						<div class="form-group">
						    <label for="add_ean">Apellido</label>
						    <input type="text" class="form-control" id="add_user_last_name" name="add_user_last_name" placeholder="Apellido">
						</div>
						<div class="form-group">
						    <label for="add_name">Email</label>
						    <input type="text" class="form-control" id="add_email" name="add_email" placeholder="Email">
						</div>
						<div class="form-group">
						    <label for="add_name">Contraseña</label>
						    <input type="text" class="form-control" id="add_password" name="add_password" placeholder="Contraseña">
						</div>
						<div class="form-group">
						    <label for="add_permission">Función</label>
						    <select id="add_permission" class="form-control" name="add_permission">
									<option value="no_select"> - Selecciones una Función - </option>
									<option value="admin"> Admin</option>
									<option value="administration"> Administración</option>
									<option value="shop"> Compras</option>
									<option value="management"> Gerencia</option>
									<option value="logistic"> Logística</option>
									<option value="sales"> Ventas</option>
						    </select>
						</div>
		    	</div>
	            <div class="modal-footer">
	                <button class="btn btn-default" type="button" data-dismiss="modal">Cerrar</button>
	                <button class="btn btn-success" type="button" onClick="user_add_user_modal_save();">Guardar</button>
	            </div>
	      </form>
	    </div>
	  </div>

	</div>
	<div id="editUserModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="saleModal" aria-hidden="true">
	    <div class="modal-dialog modal-md">
	      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editar Usuario</h4>
          </div>
	        <div class="modal-body">
						<div class="form-group">
						    <label for="add_product_id">Nombre</label>
						    <input type="text" class="form-control" id="edit_user_first_name" name="edit_user_first_name" placeholder="Nombre">
						</div>
						<div class="form-group">
						    <label for="add_ean">Apellido</label>
						    <input type="text" class="form-control" id="edit_user_last_name" name="edit_user_last_name" placeholder="Apellido">
						</div>
						<div class="form-group">
						    <label for="add_name">Email</label>
						    <input type="text" class="form-control" id="edit_email" name="edit_email" placeholder="Email">
						</div>
						<div class="form-group">
						    <label for="add_name">Contraseña</label>
						    <input type="text" class="form-control" id="edit_password" name="edit_password" placeholder="Contraseña">
						</div>
						<div class="form-group">
						    <label for="edit_permission">Función</label>
						    <select id="edit_permission" class="form-control" name="edit_permission">
									<option value="no_select"> - Selecciones una Función - </option>
									<option value="admin"> Admin</option>
									<option value="administration"> Administración</option>
									<option value="shop"> Compras</option>
									<option value="manager"> Gerencia</option>
									<option value="logistic"> Logística</option>
									<option value="sales"> Ventas</option>
						    </select>
						</div>
		    	</div>
	        <div class="modal-footer">
	            <button class="btn btn-default" type="button" data-dismiss="modal">Cerrar</button>
							<button class="btn btn-success" type="button" onClick="" id="edit_save">Guardar</button>
	         </div>
	      </div>
	    </div>
	</div>

	<div id="addUserOk" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addSupplierOkLabel">
	    <div class="modal-dialog modal-sm" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	                <h4 id="addSupplierOkLabel" class="modal-title">Añadir Usuario</h4>
	            </div>
	            <div class="modal-body" id="add_modific_check">
	                <p style="font-size: 128px; text-align: center; color: green;"><i class="fa fa-check"></i></p>
	                <p style="text-align: center;">Registro Guardado Correctamente</p>
	            </div>
	            <div class="modal-footer">
	                <button class="btn btn-default" type="button" data-dismiss="modal" onclick="get_all_users()">Cerrar</button>
	            </div>
	        </div>
	    </div>
	</div>

{% endblock %}

{% block extra_scripts %}
	<script >
		$( document ).ready(function(){
			get_all_users();
			var csrfToken = "{{ csrf_token }}";
	    $(document).ajaxSend(function(e, xhr, settings) {
	        xhr.setRequestHeader('X-CSRFToken', csrfToken);
		  });
		});
	</script>    
{% endblock extra_scripts %}

{% block sidebar %}

{% endblock %}